Repository onTrek/android, pull requests merged in 2025-07, with the labels that each got.

#37 24 add view profile
  .idea/.name
  .idea/gradle.xml
  mobile/src/main/java/com/ontrek/mobile/MainActivity.kt
  mobile/src/main/java/com/ontrek/mobile/screens/NavigationStack.kt
  mobile/src/main/java/com/ontrek/mobile/screens/Screen.kt
  mobile/src/main/java/com/ontrek/mobile/screens/connection/ConnectionToWear.kt
  mobile/src/main/java/com/ontrek/mobile/screens/profile/Profile.kt
  mobile/src/main/java/com/ontrek/mobile/screens/profile/ProfileViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/utils/components/BottomNavBar.kt
  shared/src/main/java/com/ontrek/shared/api/API.kt
  shared/src/main/java/com/ontrek/shared/api/auth/AuthAPI.kt
  shared/src/main/java/com/ontrek/shared/api/profile/ProfileAPI.kt
  shared/src/main/java/com/ontrek/shared/data/Profile.kt
Labels: enhancement

#76 23-fix-timetext-going-over-the-sos-button-animation
  wear/src/main/java/com/ontrek/wear/screens/NavigationStack.kt
  wear/src/main/java/com/ontrek/wear/screens/track/TrackScreen.kt
  wear/src/main/java/com/ontrek/wear/screens/track/components/SosButton.kt
  wear/src/main/java/com/ontrek/wear/screens/trackselection/components/TrackButton.kt
Labels: Wear

#96 95-add-function-to-logout
  mobile/src/main/java/com/ontrek/mobile/data/PreferencesStore.kt
  mobile/src/main/java/com/ontrek/mobile/data/PreferencesViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/screens/auth/AuthViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/screens/profile/Profile.kt
  mobile/src/main/java/com/ontrek/mobile/screens/profile/ProfileViewModel.kt
Labels: good first issue

#101 53 add views hikes 2
  mobile/src/main/java/com/ontrek/mobile/data/PreferencesStore.kt
  mobile/src/main/java/com/ontrek/mobile/data/PreferencesViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/screens/NavigationStack.kt
  mobile/src/main/java/com/ontrek/mobile/screens/Screen.kt
  mobile/src/main/java/com/ontrek/mobile/screens/auth/AuthScreen.kt
  mobile/src/main/java/com/ontrek/mobile/screens/auth/AuthViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/screens/friends/FriendsViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/screens/friends/components/Username.kt
  mobile/src/main/java/com/ontrek/mobile/screens/friends/tabs/FriendsTab.kt
  mobile/src/main/java/com/ontrek/mobile/screens/friends/tabs/RequestTab.kt
  mobile/src/main/java/com/ontrek/mobile/screens/friends/tabs/SearchTab.kt
  mobile/src/main/java/com/ontrek/mobile/screens/group/GroupsScreen.kt
  mobile/src/main/java/com/ontrek/mobile/screens/group/GroupsViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/screens/group/components/AddGroupButton.kt
  mobile/src/main/java/com/ontrek/mobile/screens/group/components/AddGroupDialog.kt
  mobile/src/main/java/com/ontrek/mobile/screens/group/components/MemberComponents.kt
  mobile/src/main/java/com/ontrek/mobile/screens/group/components/TrackSelectionDialog.kt
  mobile/src/main/java/com/ontrek/mobile/screens/group/detail/GroupDetailsScreen.kt
  mobile/src/main/java/com/ontrek/mobile/screens/group/detail/GroupViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/screens/hike/HikeScreen.kt
  mobile/src/main/java/com/ontrek/mobile/screens/track/TrackScreen.kt
  mobile/src/main/java/com/ontrek/mobile/screens/track/TracksViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/screens/track/components/AddTrack.kt
  mobile/src/main/java/com/ontrek/mobile/screens/track/components/TitleTrack.kt
  mobile/src/main/java/com/ontrek/mobile/screens/track/components/TrackItem.kt
  mobile/src/main/java/com/ontrek/mobile/screens/track/detail/TrackDetailScreen.kt
  mobile/src/main/java/com/ontrek/mobile/screens/track/detail/TrackDetailViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/utils/components/BottomNavBar.kt
  mobile/src/main/java/com/ontrek/mobile/utils/components/DeleteConfermation.kt
  mobile/src/main/java/com/ontrek/mobile/utils/components/EmptyComponent.kt
  mobile/src/main/java/com/ontrek/mobile/utils/components/ErrorViewComponent.kt
  mobile/src/main/java/com/ontrek/mobile/utils/components/InfoCardRow.kt
  mobile/src/main/java/com/ontrek/mobile/utils/components/SearchUsersComponent.kt
  mobile/src/main/java/com/ontrek/mobile/utils/components/TitleComponent.kt
  shared/src/main/java/com/ontrek/shared/api/API.kt
  shared/src/main/java/com/ontrek/shared/api/auth/AuthAPI.kt
  shared/src/main/java/com/ontrek/shared/api/friends/FriendsAPI.kt
  shared/src/main/java/com/ontrek/shared/api/groups/GroupsAPI.kt
  shared/src/main/java/com/ontrek/shared/api/groups/MembersAPI.kt
  shared/src/main/java/com/ontrek/shared/api/hikes/HikesAPI.kt
  shared/src/main/java/com/ontrek/shared/api/search/searchUsers.kt
  shared/src/main/java/com/ontrek/shared/constant/constant.kt
  shared/src/main/java/com/ontrek/shared/data/Auth.kt
  shared/src/main/java/com/ontrek/shared/data/Friend.kt
  shared/src/main/java/com/ontrek/shared/data/Group.kt
  shared/src/main/java/com/ontrek/shared/data/Groups.kt
  shared/src/main/java/com/ontrek/shared/data/Profile.kt
  shared/src/main/java/com/ontrek/shared/utils/utils.kt
  wear/src/main/java/com/ontrek/wear/screens/NavigationStack.kt
  wear/src/main/java/com/ontrek/wear/screens/Screen.kt
  wear/src/main/java/com/ontrek/wear/screens/groupselection/GroupSelectionScreen.kt
  wear/src/main/java/com/ontrek/wear/screens/groupselection/GroupSelectionViewModel.kt
  wear/src/main/java/com/ontrek/wear/screens/homepage/Homepage.kt
Labels: good first issue, Mobile

#102 35-add-token-interceptor-to-http-client-2
  mobile/src/main/java/com/ontrek/mobile/MainActivity.kt
  mobile/src/main/java/com/ontrek/mobile/data/PreferencesViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/screens/NavigationStack.kt
  mobile/src/main/java/com/ontrek/mobile/screens/friends/FriendsScreen.kt
  mobile/src/main/java/com/ontrek/mobile/screens/friends/FriendsViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/screens/friends/tabs/FriendsTab.kt
  mobile/src/main/java/com/ontrek/mobile/screens/friends/tabs/RequestTab.kt
  mobile/src/main/java/com/ontrek/mobile/screens/friends/tabs/SearchTab.kt
  mobile/src/main/java/com/ontrek/mobile/screens/group/GroupsScreen.kt
  mobile/src/main/java/com/ontrek/mobile/screens/group/GroupsViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/screens/group/components/MemberComponents.kt
  mobile/src/main/java/com/ontrek/mobile/screens/group/detail/GroupDetailsScreen.kt
  mobile/src/main/java/com/ontrek/mobile/screens/group/detail/GroupDetailsViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/screens/profile/ProfileScreen.kt
  mobile/src/main/java/com/ontrek/mobile/screens/profile/ProfileViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/screens/track/TrackScreen.kt
  mobile/src/main/java/com/ontrek/mobile/screens/track/TracksViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/screens/track/components/AddTrack.kt
  mobile/src/main/java/com/ontrek/mobile/screens/track/detail/TrackDetailScreen.kt
  mobile/src/main/java/com/ontrek/mobile/screens/track/detail/TrackDetailViewModel.kt
  mobile/src/main/java/com/ontrek/mobile/utils/components/SearchUsersComponent.kt
  shared/src/main/java/com/ontrek/shared/api/API.kt
  shared/src/main/java/com/ontrek/shared/api/AuthInterceptor.kt
  shared/src/main/java/com/ontrek/shared/api/TokenProvider.kt
  shared/src/main/java/com/ontrek/shared/api/friends/FriendRequestAPI.kt
  shared/src/main/java/com/ontrek/shared/api/friends/FriendsAPI.kt
  shared/src/main/java/com/ontrek/shared/api/gpx/GpxAPI.kt
  shared/src/main/java/com/ontrek/shared/api/groups/GroupsAPI.kt
  shared/src/main/java/com/ontrek/shared/api/groups/MembersAPI.kt
  shared/src/main/java/com/ontrek/shared/api/profile/ProfileAPI.kt
  shared/src/main/java/com/ontrek/shared/api/search/searchUsers.kt
  shared/src/main/java/com/ontrek/shared/api/track/TrackAPI.kt
  wear/src/main/java/com/ontrek/wear/MainActivity.kt
  wear/src/main/java/com/ontrek/wear/data/PreferencesViewModel.kt
  wear/src/main/java/com/ontrek/wear/screens/NavigationStack.kt
  wear/src/main/java/com/ontrek/wear/screens/groupselection/GroupSelectionScreen.kt
  wear/src/main/java/com/ontrek/wear/screens/groupselection/GroupSelectionViewModel.kt
  wear/src/main/java/com/ontrek/wear/screens/login/Login.kt
  wear/src/main/java/com/ontrek/wear/screens/trackselection/TrackSelectionScreen.kt
  wear/src/main/java/com/ontrek/wear/screens/trackselection/TrackSelectionViewModel.kt
  wear/src/main/java/com/ontrek/wear/screens/trackselection/components/TrackButton.kt
  wear/src/main/java/com/ontrek/wear/utils/samples/PreviewData.kt
Labels: good first issue, Wear, Mobile
